# VisionLog Admin Passwords
# Copy this file and rename to .env
# Then change the passwords below

ADMIN_PASSWORD=admin123
BCA_ADMIN_PASSWORD=bca123
BCOM_ADMIN_PASSWORD=bcom123
BBA_ADMIN_PASSWORD=bba123
BSC_ADMIN_PASSWORD=bsc123
BA_ADMIN_PASSWORD=ba123
MCA_ADMIN_PASSWORD=mca123
MBA_ADMIN_PASSWORD=mba123
MTECH_ADMIN_PASSWORD=mtech123
BTECH_ADMIN_PASSWORD=btech123
SECRET_KEY=visionlog-secret-key-2026